/* Arielle Chapin Portfolio */
/* General */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  font-family: Hind, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  color: #262626; }

a {
  color: #262626;
  text-decoration: none;
  border: 0; }

a:hover, .mobile-nav:hover {
  cursor: pointer; }

.fullpage {
  height: auto;
  width: 100%;
  position: relative; }

/* Navigation */
.header {
  top: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 50px;
  background-color: white;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 10px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: height 0.5s, background-color 0.5s;
          transition: height 0.5s, background-color 0.5s; }

.header.top {
  background-color: rgba(255, 255, 255, 0);
  height: 100px; }

.header.top .nav-lightbulb {
  opacity: 0; }

.header * {
  width: 44%; }

.nav-name {
  font-size: 1.4em;
  font-weight: 600;
  height: auto;
  text-align: left;
  float: left; }

.nav-lightbulb {
  width: 10%;
  position: relative;
  height: 50%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s; }

.nav-lightbulb svg {
  position: relative;
  height: 100%;
  width: auto; }

.nav-links {
  text-align: right; }

.mobile-nav {
  display: none;
  margin-top: -20px; }

.svg-menu-toggle {
  fill: #262626; }

.svg-menu-toggle .bar {
  -webkit-transform: rotate(0) translateY(0) translateX(0);
  -ms-transform: rotate(0) translateY(0) translateX(0);
      transform: rotate(0) translateY(0) translateX(0);
  opacity: 1;
  -webkit-transform-origin: 20px 10px;
  -ms-transform-origin: 20px 10px;
      transform-origin: 20px 10px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out; }

.svg-menu-toggle .bar:nth-of-type(1) {
  -webkit-transform-origin: 20px 10px;
  -ms-transform-origin: 20px 10px;
      transform-origin: 20px 10px; }

.svg-menu-toggle .bar:nth-of-type(3) {
  -webkit-transform-origin: 20px 20px;
  -ms-transform-origin: 20px 20px;
      transform-origin: 20px 20px; }

.active-menu .svg-menu-toggle .bar:nth-of-type(1) {
  -webkit-transform: rotate(-45deg) translateY(0) translateX(0);
  -ms-transform: rotate(-45deg) translateY(0) translateX(0);
      transform: rotate(-45deg) translateY(0) translateX(0); }

.active-menu .inline-svg .svg-menu-toggle .bar:nth-of-type(2) {
  opacity: 0; }

.active-menu .svg-menu-toggle .bar:nth-of-type(3) {
  -webkit-transform: rotate(45deg) translateY(0em) translateX(0em);
  -ms-transform: rotate(45deg) translateY(0em) translateX(0em);
      transform: rotate(45deg) translateY(0em) translateX(0em); }

.inline-svg {
  display: block;
  margin: 0 auto;
  width: 65px;
  height: auto;
  float: right; }

.mobile-nav-page {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  display: none; }

.mobile-nav-page a {
  display: block;
  position: relative;
  margin-bottom: 2%;
  width: auto;
  height: auto;
  padding: 0 6px 0 6px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border .1s;
          transition: border .1s; }

.nav-links a {
  margin-left: 5%;
  padding: 0 6px 0 6px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border .1s;
          transition: border .1s; }

.nav-links a:hover, .nav-links a.activelink,
.mobile-nav-page a:hover, .mobile-nav-page a.activelink {
  border-bottom: 2px solid #FFE497; }

/* Landing */
.landing {
  position: relative;
  width: 100%;
  height: 100%;
  /*    overflow: hidden;*/
  background: rgba(188, 182, 199, 0.35);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(188, 182, 199, 0.35)), color-stop(56%, rgba(255, 255, 255, 0.43)), color-stop(100%, rgba(255, 255, 255, 0.5)));
  background: -webkit-linear-gradient(top, rgba(188, 182, 199, 0.35) 0%, rgba(255, 255, 255, 0.43) 56%, rgba(255, 255, 255, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(188, 182, 199, 0.35) 0%, rgba(255, 255, 255, 0.43) 56%, rgba(255, 255, 255, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcb6c7', endColorstr='#ffffff', GradientType=0 ); }

.name {
  margin: 0 auto;
  top: 5%;
  position: relative;
  font-size: 4em;
  font-weight: 600;
  color: #262626; }

.line {
  position: relative;
  margin: 0 auto;
  width: 32%;
  height: 0;
  top: 6%;
  margin-bottom: 2%;
  border-top: 2px solid #262626; }

.tagline {
  margin: 0 auto;
  top: 4%;
  position: relative;
  font-size: 2em;
  color: #262626;
  font-weight: 400; }

.sub {
  font-size: .8em; }

.down {
  display: block;
  position: absolute;
  width: 100%;
  height: 26px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  bottom: 4%; }

.down i {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 50px;
  height: auto;
  top: 0px;
  -webkit-transition: top 0.1s;
          transition: top 0.1s; }

.down i:hover {
  top: 5px; }

.notebook {
  position: relative;
  height: 40%;
  width: auto;
  margin-top: 10%; }

/* Lightbulb / Lightbulb Animations */
.lightbulb {
  margin: 0 auto;
  margin-top: 8%;
  position: relative;
  width: 100px;
  height: auto;
  max-height: 20%; }

.light {
  fill: #FFE497; }

.bulb {
  fill: none;
  stroke: #2b2b2b;
  stroke-width: 1.8; }

/* Work */
.grid.row {
  max-width: 2100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.projects {
  position: relative;
  width: 100%;
  height: 100%; }

.project {
  overflow: hidden; }

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0 70px 0 70px; }

.container .fp-tableCell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.row {
  position: relative;
  top: 5%;
  height: 90%;
  margin: 0 auto; }

.mobile-only {
  display: none; }

.thumbnail {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  box-sizing: content-box; }

.thumbnail img {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0; }

a.worklink {
  display: block;
  position: relative;
  height: 100%;
  width: 100%; }

.col-1-3 {
  height: 100%; }

.col-1-3:nth-of-type(3n) {
  margin-right: 0; }

.content {
  position: relative;
  margin: 0 auto;
  padding: 5%;
  padding-top: 4%;
  background-color: transparent;
  -webkit-transition: background 0.1s;
          transition: background 0.1s; }

a.worklink:hover .content {
  background-color: rgba(0, 0, 0, 0.1); }

.content * {
  margin: 0 auto;
  position: relative; }

.content .title {
  font-weight: 800;
  font-size: 1.3em;
  text-transform: uppercase;
  height: 8%; }

.content .desc {
  text-align: left;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.4em;
  height: 30%;
  margin-bottom: 5%; }

.content .skills {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
  margin-bottom: 2%;
  height: 8%; }

.content .skills .title {
  font-size: 1em;
  font-weight: 800; }

.seemore {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 6px;
  padding-bottom: 4px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #262626; }

/* About + Talk To Me */
.about, .contact {
  position: relative;
  margin: 0 auto;
  height: auto;
  font-size: 1.8em;
  width: 60%; }

.about {
  border-bottom: 4px solid #FFE497;
  padding: 2%;
  padding-bottom: 3%; }

.contact {
  margin-top: 3%;
  min-height: 250px; }

.contact a {
  font-size: 2.5em;
  cursor: pointer;
  padding-right: 2%; }

.contact a:hover {
  color: #FFE497; }

.fillin {
  margin-top: 1%;
  height: auto;
  max-height: 0;
  font-size: 1.1em;
  overflow: hidden; }

.fill {
  color: #666666;
  display: none; }

a.maillink:hover ~ .fillin,
a.behancelink:hover ~ .fillin,
a.gitlink:hover ~ .fillin,
a.lilink:hover ~ .fillin {
  max-height: 100px; }

a.maillink:hover ~ .fillin .mail {
  display: inline-block; }

a.behancelink:hover ~ .fillin .behance {
  display: inline-block; }

a.gitlink:hover ~ .fillin .github {
  display: inline-block; }

a.lilink:hover ~ .fillin .linkedin {
  display: inline-block; }

/* Media Queries */
@media screen and (max-width: 2560px) {
  .col-1-3 {
    font-size: 1.2em; } }
@media screen and (max-width: 1600px) {
  .col-1-3 {
    font-size: 1.1em; } }
@media screen and (max-width: 1500px) {
  .lightbulb {
    margin-top: 10%; } }
@media screen and (max-width: 1200px) {
  .content .desc {
    height: 40%; }

  .content .skills {
    font-size: 1em; }

  .seemore {
    font-size: 1em; }

  .lightbulb {
    margin-top: 10%; } }
@media screen and (max-width: 1110px) {
  body {
    font-size: 1.2em; }

  .landing {
    font-size: .9em; }

  .notebook {
    margin-top: 14%;
    height: 45%; }

  .header {
    height: 60px;
    padding-left: 3%;
    padding-right: 3%; }

  .nav-links {
    display: none; }

  .nav-lightbulb {
    height: 60%; }

  .mobile-nav {
    display: block; }

  .mobile-nav-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity .1s;
            transition: opacity .1s; }

  .mobile-nav-page.active-menu {
    z-index: 99;
    opacity: 1; }

  .mobile-only {
    display: block; }

  .mobile-hidden {
    display: none; }

  /*  Content  */
  .thumbnail {
    max-height: 40%;
    overflow: hidden; }

  .content .title {
    font-size: 1.5em; }

  .content .desc {
    height: auto;
    max-height: 50%; }

  .content .skills {
    font-size: 1.1em; }

  .seemore {
    font-size: 1.1em; }

  .col-1-3 {
    width: 100%; }

  /* About */
  .about {
    font-size: 1.4em;
    width: 80%;
    padding-bottom: 5%; }

  .contact {
    width: 80%;
    font-size: 1.2em; } }
@media screen and (max-width: 700px) {
  .landing {
    font-size: .8em;
    padding: 2%; }

  .notebook {
    margin-top: 20%; }

  .container {
    padding: 0; }

  .container .fp-tableCell {
    width: 100%;
    margin: 0;
    padding: 0; } }
@media screen and (max-width: 500px) {
  .landing {
    font-size: .5em; }

  .notebook {
    margin-top: 30%; }

  .down {
    font-size: 3em; }

  .thumbnail {
    max-height: 50%; }

  .content .skills {
    height: 8%;
    margin-bottom: 3%; } }
@media screen and (max-width: 450px) {
  .nav-name {
    width: 60%; }

  .mobile-nav {
    width: 30%; }

  .notebook {
    margin-top: 45%; } }
/* Height */
@media screen and (max-height: 650px) and (min-width: 1110px) {
  .down {
    display: none; }

  .content .desc {
    display: none; }

  .content .skills {
    height: 15%; }

  .row {
    top: 10%; } }
@media screen and (max-height: 650px) {
  .content .desc {
    font-size: 1em; } }
@media screen and (max-height: 500px) {
  .content .skills {
    display: none; }

  .seemore {
    display: none; } }
@media screen and (max-height: 650px) and (max-width: 600px) {
  .notebook {
    margin-top: 30%; } }
@media screen and (max-height: 450px) {
  .down {
    display: none; } }
/* Mobile Phones */
@media screen and (max-device-width: 950px) {
  body {
    font-size: 1.5em; }

  .landing {
    padding: 3%; }

  .notebook {
    margin-top: 20%; }

  .inline-svg {
    width: 75px; }

  .header {
    font-size: 1.2em;
    height: 80px; }

  .inline-svg {
    width: 90px; }

  .nav-name {
    font-size: 1.1em; } }
