$fontfam-head: "Alice", serif;
$fontfam-main: "noahregular", Helvetica, sans-serif;
$fontfam-mainital: "noahregular_italic", Helvetica, sans-serif;

$light: #faf3f0;
$dark: #212121;

html,
body {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  color: $dark;
  background-color: #fa9a79;
}

body {
  font: 100% $fontfam-main;
  font-size: 1.3em;
  color: $dark;
}

#main {
  z-index: 0;
  position: relative;
  width: 100%;
  background-color: $light;
  box-sizing: border-box;
  border-style: solid;
  border-width: 16px;
  border-color: #fa9a79;
  padding: 5% 10%;
}

section {
  margin-top: 100px;
}

%header {
  font: 100% $fontfam-head;
  font-size: 2.2em;
  font-weight: 600;
  letter-spacing: 0.03em;
}

h1 {
  @extend %header;
}

h2 {
  @extend %header;
  text-decoration: underline;
}

a {
  font: 100% $fontfam-main;
  color: $dark;
}

b {
  font: 100% "noahbold", Helvetica, sans-serif;
  font-weight: 600;
}

.b_i {
  font: 100% "noahbold_italic", Helvetica, sans-serif;
  font-weight: 600;
  font-style: italic;
}

div.space {
  margin-bottom: 10px;
}

/* blobbies */

.blobbies {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -1;
}

.blobbies img {
  height: 150px;
  width: auto;
  position: absolute;
}

.blobbies .blob-top {
  left: 15px;
}

.blobbies .blob-bottom {
  left: 100px;
  top: 20px;
}

/* sections */

.page_header {
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 100px;
}

.socials {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials img {
  width: 20px;
  height: 20px;
}

.lite_about {
  position: relative;
  width: 50%;
}

span.pgrnd_text,
span.pgrnd_text a {
  font-family: "Space Mono", mono;
  text-decoration: none;
  font-size: 0.9em;
}

.project {
  margin: 50px 0px 100px 0;

  .images {
    margin-bottom: 10px;
  }

  .images img {
    height: 250px;
    width: auto;
    margin-right: 10px;
  }

  .title,
  a .title {
    font: 100% $fontfam-head;
    font-size: 1.2em;
    margin: 20px 0 10px 0;
    text-decoration: none;
  }

  .desc {
    width: 70%;
  }

  .extras {
    font: 100% $fontfam-mainital;
    font-style: italic;
    margin-top: 10px;
  }
}

.copyright {
  font: 100% $fontfam-main;
  color: white;
  font-size: 0.6em;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;

  a {
    color: white;
  }
}

/* media sizes */

@media screen and (max-width: 900px) {
  div.space {
    margin-bottom: 20px;
  }

  .page_header {
    display: block;
    padding-left: 0;
    padding-top: 50px;
  }

  .socials {
    width: 100%;
    justify-content: center;
    margin: 30px 0 10px 0;
  }

  .socials img {
    margin-right: 20px;
  }

  .lite_about {
    width: 100%;
  }

  .project {
    .desc {
      width: 100%;
    }

    .extras {
      margin-top: 20px;
    }

    .images {
      height: auto;
      width: 100%;

      img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
    }
  }
}
